.acfai-page {
  padding-right: 20px;
}
.acfai-page__success,
.acfai-page__error {
  padding-top: 15px;
}

.acfai-page__title {
  margin-bottom: 30px;
}
.acfai-page__title h1 {
  margin-bottom: 0;
}
.acfai-page__title-text {
}

.acfai-page__section {
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 4px;
}

.acfai-button {
  padding: 8px 16px;
  background: #0073aa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
}
.acfai-button:hover {
  background: #013e5c;
}
.acfai-button__blue {}
.acfai-button__blue:hover {}